[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
jupyter = "*"
tensorboard = "*"
pillow = "*"
jupyter-nbextensions-configurator = "*"
gym = "==0.15.4"
mujoco-py = "==2.0.2.10"
opencv-python = "*"
pyquaternion = "*"

[requires]
python_version = "3.6"
